$black-bkg      : #222222;
$pink-bkg       : #F1E4E6;
$pink-color     : #F16D7F;
$sales-bkg      : #4E4544;
$white-color    : #FFFFFF;
$gray-color     : #9F9F9F;
$cards-bkg      : #F8F8F8;
$blak-gray-color: #5D5D5D;
$footer-btn     : #E1E1E1;
$border         : #FF6A6A;
$text           : #B1B1B1;
$border--cart   : #A4A4A4;
$gray-bkg       : #F5F3F3;

$tablet-width:1599px;
$tablet-mid-width:1150px;
$mobile-width:767px;

