.brand {
    display         : flex;
    background-color: $pink-bkg;
    &__img {
        width : 800px;
        height: 765px;
    
    }
    
    &__title-wrp {
        flex-grow  : 1;
        padding    : 0 0 0 92px;
        display    : flex;
        align-items: center;
    }
    
    &__title {
        color         : $black-bkg;
        border-left   : 12px solid $pink-color;
        padding-left  : 16px;
        font-size     : 48px;
        font-weight   : 600;
        line-height   : 58px;
        text-transform: uppercase;
    }
    
    &__title-lower {
        font-size  : 32px;
        font-weight: 700;
        line-height: 38px;
        display    : block;
    }
    
    &__title-pink {
        color: $pink-color;
    }
}

