.header {
    background-color: $black-bkg;
    min-height      : 40px;
    display         : flex;
    justify-content : flex-end;
    position: relative;

    &__wrp {
        display        : flex;
        align-items    : center;
        min-height     : 75px;
        justify-content: space-between;
        
    }

    &__container {
        display    : flex;
        align-items: flex-end;
    }

    &__logo {
        margin: 0 31px 0 0;
    }

    &__form {
        display        : flex;
        flex-direction : row-reverse;
        justify-content: flex-start;
    }

    &__form-input {
        font-size       : 14px;
        font-weight     : 300;
        width           : 150px;
        padding-left    : 10px;
        text-transform  : capitalize;
        border          : none;
        background-color: transparent;
        color           : $white-color;

    }

    &__form-input:hover,
    &__form-input:focus,
    &__form-input:active {
        border       : 1px solid $border;
        border-radius: 20px;
    }

    &__burger:hover {
        fill: $border;
    }

    &__icon {
        fill: $white-color;
    }

    &__menu-list {
        display    : flex;
        align-items: center;
    }

    &__button-link {
        border          : none;
        background-color: transparent;

    }

    &__burger {
        border          : none;
        background-color: transparent;
    }

    &__button-link:hover &__icon,
    &__burger:hover &__icon,
    &__link:hover &__icon,
    &__button-link:focus &__icon,
    &__burger:focus &__icon,
    &__link:focus &__icon {
        fill: $border;
    }

    &__button-link:active &__icon,
    &__burger:active &__icon,
    &__link:active &__icon {
        opacity: 0.7;
    }



    &__nav {
        position  : absolute;
        min-height: 764px;
        width     : 232px;
        top       : 75px;
        right     : 0;
        background: white;
        display   : none;
        box-shadow: -1px 3px 13px #ADADAD;
       
        z-index: 1;
    }
    &__burger:active+ &__nav{
        transform: translateX(0);
    }
    

   


    &__nav-title {
        font-weight   : 900;
        text-transform: uppercase;
        padding       : 37px 0 24px 34px;
        font-size     : 14px;
        line-height   : 17px;
    }

    &__link {
        margin: 0 0 0 33px;

        @include mobile {
            display: none;
        }
    }



}

label[id*=none] {
    display: none;
}