.products {
    margin-top: 65px;

    &__title {
        font-size     : 30px;
        line-height   : 36px;
        text-align    : center;
        text-transform: capitalize;
        color         : $black-bkg;
        margin-bottom : 6px;
    }

    &__sub-title {
        font-size     : 14px;
        line-height   : 17px;
        text-align    : center;
        text-transform: capitalize;
        color         : $gray-color;
        margin-bottom : 48px;
    }

    &__list {
        display        : flex;
        flex-wrap      : wrap;
        justify-content: space-between;
        margin-bottom  : 18px;

        @include mid-tablet {
            justify-content: space-evenly
        }

    }

    &__item {
        width           : 360px;
        display         : flex;
        background-color: $cards-bkg;
        justify-content : space-around;
        flex-direction  : column;
        margin-bottom   : 30px;

        @include mid-tablet {
            width: 340px;
        }

        @include mobile {
            width: 100%;
        }

    }

    &__item-img {
        @include mid-tablet {
            width: 340px;
        }

        @include mobile {
            width: 100%;
        }
    }

    &__item-button {
        padding         : 12px 15px;
        background-color: transparent;
        font-size       : 14px;
        line-height     : 17px;
        text-align      : center;
        width           : 138px;
        border          : 1px solid $white-color;
        position        : absolute;
        top             : 50%;
        left            : 50%;
        transform       : translate(-50%, -50%);
        color           : $white-color;
        justify-content : space-around;
        align-items     : center;

    }

    &__wrapper {
        position: relative;
    }

    &__wrapper:before {
        content   : '';
        background: rgba(48, 48, 48, 0.637);
        position  : absolute;
        top       : 0;
        width     : 100%;
        height    : 100%;
        display   : none;
    }



    &__item-button:hover,
    &__item-button:focus {
        border          : 1px solid $border;
        background-color: $pink-color;
        color           : $white-color;
    }

    &__item-button:active {
        opacity: 0.7;
    }

    &__item-icon {
        width : 25px;
        height: 25px;
    }

    &__item-button {
        display: none;
    }

    &__item:hover &__item-button,
    &__item:hover &__wrapper:before {
        display: flex;
    }

    &__item-title {
        text-transform: uppercase;
        padding       : 25px 0 12px 18px;
    }

    &__item-text {
        text-transform: capitalize;
        padding       : 0 28px 12px 18px;
        color         : $blak-gray-color;
    }

    &__item-price {
        padding: 0 0 20px 18px;
        color  : $pink-color;
    }

    &__link {
        width           : 210px;
        margin          : 0 auto;
        display         : flex;
        text-align      : center;
        text-decoration : none;
        padding         : 15px 38px;
        text-transform  : capitalize;
        color           : $pink-color;
        border          : 1px solid $pink-color;
        background-color: transparent;
        justify-content : center;

    }

    &__link:hover,
    &__link:focus {
        border          : 1px solid $border;
        background-color: $pink-color;
        color           : $white-color;
    }

    &__link:active {
        opacity: 0.7;
    }
}